---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    section.page-header {
        padding: 3rem 4rem;
        background-image: url("https://github.com/ofux/Digger-Documentation/raw/master/assets/img/digger-unity-arch-cave.jpeg"), linear-gradient(120deg, #155799, #159957);
        background-position: -200px 0;
    }
}
