---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    header.page-header {
        padding: 3rem 4rem;
        background-image: url("https://github.com/ofux/Digger-Documentation/raw/master/assets/img/header.jpeg"), linear-gradient(120deg, #155799, #159957);
        background-position: 0 -300px;
    }
    main.main-content {
        font-size: 1.0rem !important;
    }
}

body {
    color: #383c3e !important;
}
